* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkgreen: #022b16;
  --lighter-green: #d5eadf;
  --light-green: #088143;
  --black: #000000;
  --mid-green: #5aab81;
  --white: #ffffff;
  --dark-light-green: #022b16;
  --white-green: #fefefe;
  --another-black: #01150b;

  font-family: Poppins;
  font-size: 10px;
}

body {
  min-height: 100vh;
  background-color: var(--lighter-green);
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li {
  list-style: none;
}

.container {
  /* width: 100%;
  max-width: 1440px; */
  /* margin-left: 91px; */
  margin-top: 52px;
  /* margin-right: 91px; */
}
/* nav styling start */
header {
  margin-left: 91px;
  margin-right: 91px;
}
.menu{
  display: flex;
  background-color: #D5EADF;
  justify-content: space-around;
}
.menu__logo img{
  width: 110px;
  height: 70px; 
}
.menu__nav ul{
  display: flex;
  gap: 3rem;
  list-style: none;
  text-decoration: none;
  padding: 15px;
  margin-top: 15px;
}
li{
  color: #022B16;
}
.menu__nav ul li a{
  text-decoration: none;
  color: #022B16;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}
.menu__nav ul li a:hover{
  color: #ffffff;
}
.logo{
  margin-top: 9px;
  width: 100px;
  height: 100px; 
}
.btn{
  margin-top: 15px;

}
.btn-1, .btn-2{
  font-size: 20px;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
}
.btn-1{
  background-color: transparent;
  cursor: pointer;
}
.btn-1:hover{
  background-color:green;
  color: white;
}

.btn-2{
  background-color: #022B16;
  color: white;
  cursor: pointer;
}
.btn-2:hover{
  background-color:green;
  color: white;
}

.content-1{
  background-color: #5AAB81;
  height: 170px;
}
.content-1 h2{
  color: white;
  text-transform: uppercase;
  text-align: center;
}
/* nav ends here */

/* hero styling */
.LoginHeroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.LoginHeroSectionDiv1 > h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  color: var(--dark-light-green);
  width: 503px;
  display: block;
  margin-bottom: 13px;
}
.LoginHeroSectionDiv1 > h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
}
.LoginHeroSectionDiv1 > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  width: 563px;
  color: var(--black);
  margin: 22px 0 32px 0;
}
.LoginHeroSectionDiv1 > button {
  display: block;
  width: 80%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--dark-light-green);
  color: var(--white);
  padding: 15px 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.homeHeroImg {
  width: 550px;
  /* height: 300px; */
}

.homeHeroImg > img {
  width: 100%;
  height: auto;
  margin-right: 0px;
}

/* hero ends */

/* section1 starts */
.homeMainSection1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 91px;
  margin-right: 91px;
}

.homeMainSection1 > div {
  border: 1px solid var(--white);
  background-color: var(--white-green);
  border-radius: 10px;
  /* gap: 33px; */
  text-align: center;
  gap: 30px;
}
.homeMainSectionDiv2,
.homeMainSectionDiv3 {
  margin-left: 33px;
}
.homeMainSection1 div > img {
  width: 138px;
  margin-top: 22px;
}

.homeMainSection1 div > h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding-top: 42px;
  padding-bottom: 32px;
  color: var(--black);
}

.homeMainSection1 div > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin: 0 23px 22px 23px;
  color: var(--black);
}
.homeMainSection1 div > button {
  width: 245px;
  height: 64px;
  padding: 17px, 64px, 17px, 64px;
  border-radius: 11px;
  background-color: var(--darkgreen);
  color: var(--white);
  margin-bottom: 48px;
  cursor: pointer;
}

.homeMainSection2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-green);
  /* width: 100vw; */
  margin-top: 133px;
}
.homeMainSection2 > div {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  align-self: center;
}
.homeMainSection2 div > img {
  width: 100px;
  height: 100px;

  margin-bottom: 58px;
  margin-top: 30px;
}
.homeMainSection2 div > p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  width: 260px;
  margin-bottom: 52px;
}
.homeMainSection2 div > .homeDivPara {
  padding-bottom: 20px;
}
.homepageSect3Div1 {
  /* display: flex; */
}
.homepageSect3Div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 91px;
  margin-right: 91px;
}
.homepageSect3Div11 {
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
  margin-bottom: 76px;
  align-items: center;
  gap: 30px;
}

.homepageSect3Div11 > h2 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  color: var(--black);
  margin-top: 85px;
}
.homepageSect3Div11 > p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  margin-top: 92px;
}

.homepageSect3Div2 div > button {
  /* margin-top: 76px; */
  width: 110px;
  height: 90px;
  background-color: var(--mid-green);
  color: var(--white);
  border: none;
  border-radius: 11px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.homepageSect3Div2 div > p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  width: 223px;
  height: 52px;
  margin-bottom: 107px;
  text-align: center;
}

.homepageSect3Div3 {
  display: flex;
  justify-content: space-between;
  margin-left: 91px;
  margin-right: 91px;
  border-radius: 35px;
  padding-left: 27px;
  padding-right: 49px;
  margin-bottom: 43px;
  background-image: url(./assets/img/Rectangle\ 15.png);
  background-size: cover;
}

.homepageSect3Div3 div > h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
  width: 696px;
  padding-top: 102px;
}
.homepageSect3Div3 div > p {
  color: var(--black);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  margin-top: 57px;
  margin-bottom: 93px;
  width: 551px;
}

.homepageSect3Div3 div > button {
  background-color: var(--another-black);
  color: var(--white);
  width: 356px;
  height: 84px;
  padding: 27px 103px 27px 103px;
  border-radius: 11px;
  margin-top: 125px;
  margin-bottom: 130px;
  cursor: pointer;
}

/* footer design */
.footer-container {
  background: linear-gradient(180deg, #123204 19.5%, #01150b 74%);
}
.footer-container__details {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding-top: 30px;
  text-align: left;
}
.footer-container__details-one p {
  font-size: 25px;
  margin-bottom: 0px;
}
.newsletterContainer {
  /* border: 1px dashed red; */
  padding: 5px;
  margin-top: 10px;
  position: relative;
}
.footer-container__input {
  width: 300px;
  height: 50px;
  color: #ffffff;
  border: 2px white solid;
  background: transparent;
  padding: 5px;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 10px;
}

.arrow {
  background-color: #ffffff;
  width: 36px;
  height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
}
.footer-container h5 {
  font-size: 25px;
  text-align: center;
}
.footer-container ul li {
  
  list-style: none;
  font-size: 18px;
  margin-top: 10px;
  color: white;
  /* text-align: left; */
  /* margin-left: -10px; */
}
.footer-container ul li a {
  color: white;
  cursor: pointer;
  
}
.footer-container ul li a:hover {
  color: green;
  background-color: white;
  padding: 8px;
  margin: 3px 0px;
}
.footer-container__links {
  margin-left: -22px;
}
.footer-media {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
  padding-bottom: 20px;
}
.footer-media p {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.footer-privacy {
  margin-left: 30px;
}
.footer-social {
  width: 38px;
  height: 38px;
  margin-left: 25px;
}
.footer-social:hover {
  background-color: #5aab;
  border-radius: 38px;
  padding: 5px;
}
