* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --darkgreen: #022b16;
  --lighter-green: #d5eadf;
  --light-green: #088143;
  --black: #000000;
  --mid-green: #5aab81;
  --white: #ffffff;
  --dark-light-green: #022b16;
  --white-green: #fefefe;
  --another-black: #01150B;


  font-family: Poppins;
  font-size: 10px;
}
body {
  min-height: 100vh;
  background-color: var(--lighter-green);
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li {
  list-style: none;
}

.container {
  /* width: 100%;
  max-width: 1440px; */
  /* margin-left: 91px; */
  margin-top: 52px;
  /* margin-right: 91px; */
}
/* nav styling start */
header {
  margin-left: 91px;
  margin-right: 91px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 91px;
  margin-right: 91px;
}

.homePageNavLogo {
  width: 135px;
  height: 104px;
}
.homePageNavLogo > img {
  width: 100%;
  cursor: pointer;
  /* height: auto; */
}

ul {
  display: flex;
}
ul > li {
  margin-left: 39px;
  align-items: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
  cursor: pointer;
}

.firstNavLink {
  font-weight: 700;
  color: var(--light-green);
}
.homeNavBtn {
  display: flex;
  gap: 20px;
}

.homeNavBtn > .homeBtn1 {
  color: var(--mid-green);
  font-size: 15px;
  font-weight: 600;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.homeNavBtn > .homeBtn2 {
  font-size: 14px;
  font-weight: 800;
  color: var(--white);
  background-color: var(--darkgreen);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* nav ends here */

.LoginBanner {
  background: #5aab81;
}
.LoginBanner > p {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  padding: 67px 161px 73px 171px;
}
.loginMainContainer {
  background-color: #d5eadf;
  display: flex;
  gap: 350px;
}
.loginMain1 {
  padding-left: 92px;
}
.loginSubGroup1 {
  width: 513px;
  /* height: 124px; */
  display: flex;
  flex-direction: column;
}
.loginSubGroup1 > h2 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
  color: #022b16;
  margin-bottom: 7px;
  padding-top: 64px;
}
.loginSubGroup1 > .loginPara1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.loginDivForm {
  width: 534px;
  margin-top: 41px;
}

form > input {
  border: 1px solid #01150b;
  border-radius: 8px;
  padding: 14px;
  width: 100%;
  background-color: #d5eadf;
}

input::placeholder {
  color: #5aab81;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.loginDivForm > .loginDivFormPara1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  color: #022b16;
  margin-top: 14px;
  display: flex;
  gap: 6px;
}
.loginDivFormPara1 > .loginParaSpan1 {
  width: 16px;
}
.loginSubDiv2 {
  display: flex;
  gap: 22px;
}
.loginSubDiv2 > button {
  padding: 13px 47px;
  background-color: #01150b;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 163px;
  border: none;
  cursor: pointer;
}
.loginSubDiv2 > p{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 44px;
color: #022B16;


}

.loginMain2{
    margin-top: 67px;
    margin-right: 92px;
}

.loginMain2 > h2, p{
    font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 44px;
color: #022B16;

}
.loginMain2 > .loginMain2Para{
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  /* padding-bottom: 20px; */
}
.loginMain2Para > .loginMain2span{
  display: flex;
    width: 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* gap: 18px; */
}

.loginMain2 > hr{
  width: 302px;
  border: 1px solid #01150B;

}

