* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --darkgreen: #022b16;
  --lighter-green: #d5eadf;
  --light-green: #088143;
  --black: #000000;
  --mid-green: #5aab81;
  --white: #ffffff;
  --dark-light-green: #022b16;
  --white-green: #fefefe;
  --another-black: #01150b;

  font-family: Poppins;
  font-size: 10px;
}
body {
  min-height: 100vh;
  background-color: var(--lighter-green);
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li {
  list-style: none;
}

.container {
  /* width: 100%;
  max-width: 1440px; */
  /* margin-left: 91px; */
  margin-top: 52px;
  /* margin-right: 91px; */
}
/* nav styling start */
header {
  margin-left: 91px;
  margin-right: 91px;
}
.menu{
  display: flex;
  background-color: #D5EADF;
  justify-content: space-around;
}
.menu__logo img{
  width: 70px;
  height: 70px; 
}
.menu__nav ul{
  display: flex;
  gap: 3rem;
  list-style: none;
  text-decoration: none;
  padding: 15px;
  margin-top: 15px;
}
li{
  color: #022B16;
}
.menu__nav ul li a{
  text-decoration: none;
  color: #022B16;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}
.menu__nav ul li a:hover{
  color: #ffffff;
}
.logo{
  margin-top: 9px;
  width: 100px;
  height: 100px; 
}
.btn{
  margin-top: 15px;

}
.btn-1, .btn-2{
  font-size: 20px;
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
}
.btn-1{
  background-color: transparent;
  cursor: pointer;
}
.btn-1:hover{
  background-color:green;
  color: white;
}

.btn-2{
  background-color: #022B16;
  color: white;
  cursor: pointer;
}
.btn-2:hover{
  background-color:green;
  color: white;
}

.content-1{
  background-color: #5AAB81;
  height: 170px;
}
.content-1 h2{
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* nav ends here */

.LoginBanner {
  background: #5aab81;
}
.LoginBanner > p {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  padding: 67px 161px 73px 171px;
}
.loginMainContainer {
  background-color: #d5eadf;
  display: flex;
  gap: 350px;
}
.loginMain1 {
  padding-left: 92px;
}
.loginSubGroup1 {
  width: 513px;
  /* height: 124px; */
  display: flex;
  flex-direction: column;
}
.loginSubGroup1 > h2 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
  color: #022b16;
  margin-bottom: 7px;
  padding-top: 64px;
}
.loginSubGroup1 > .loginPara1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.loginDivForm {
  width: 534px;
  margin-top: 41px;
}

form > input {
  border: 1px solid #01150b;
  border-radius: 8px;
  padding: 14px;
  width: 100%;
  background-color: #d5eadf;
}

input::placeholder {
  color: #5aab81;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.loginDivForm > .loginDivFormPara1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  color: #022b16;
  margin-top: 14px;
  display: flex;
  gap: 6px;
}
.loginDivFormPara1 > .loginParaSpan1 {
  width: 16px;
}
.loginSubDiv2 {
  display: flex;
  gap: 22px;
}
.loginSubDiv2 > button {
  padding: 13px 47px;
  background-color: #01150b;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 163px;
  border: none;
  cursor: pointer;
}
.loginSubDiv2 > p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  color: #022b16;
}

.loginMain2 {
  margin-top: 67px;
  margin-right: 92px;
}

.loginMain2 > h2,
p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 44px;
  color: #022b16;
}
.loginMain2 > .loginMain2Para {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  /* padding-bottom: 20px; */
}
.loginMain2Para > .loginMain2span {
  display: flex;
  width: 10px;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* gap: 18px; */
}

.loginMain2 > hr {
  width: 302px;
  border: 1px solid #01150b;
}

/* footer design */
.footer-container {
  background: linear-gradient(180deg, #123204 19.5%, #01150b 74%);
}
.footer-container__details {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding-top: 30px;
  text-align: left;
}
.footer-container__details-one p {
  font-size: 25px;
  margin-bottom: 0px;
}
.newsletterContainer {
  /* border: 1px dashed red; */
  padding: 5px;
  margin-top: 10px;
  position: relative;
}
.footer-container__input {
  width: 300px;
  height: 50px;
  color: #ffffff;
  border: 2px white solid;
  background: transparent;
  padding: 5px;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 10px;
}

.arrow {
  background-color: #ffffff;
  width: 36px;
  height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
}
.footer-container h5 {
  font-size: 25px;
  text-align: center;
}
.footer-container ul li {
  list-style: none;
  font-size: 18px;
  margin-top: 10px;
  color: white;
  /* text-align: left; */
  /* margin-left: -10px; */
}
.footer-container ul li a {
  color: white;
  cursor: pointer;
}
.footer-container ul li a:hover {
  color: green;
  background-color: white;
  padding: 8px;
  margin: 3px 0px;
}
.footer-container__links {
  margin-left: -22px;
}
.footer-media {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
  padding-bottom: 20px;
}
.footer-media p {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}
.footer-privacy {
  margin-left: 30px;
}
.footer-social {
  width: 38px;
  height: 38px;
  margin-left: 25px;
}
.footer-social:hover {
  background-color: #5aab;
  border-radius: 38px;
  padding: 5px;
}
